<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1>
        LOG IN
    </h1>
    <div class="form-container">
        <form action="/login/auth" method="post">
            <label>Username:</label><br>
            <input id = 'username' name = 'username' type="text"><br>
            <label>Password:</label><br>
            <input id = 'password' name = 'password' type="password"><br><br>
            <input id ='submit' type="submit" value="Submit">
        </form>
    </div>  
</body>
</html>